container_commands:
  modify_healthd_log_condition:
    command: "sed -i \"s/.* healthd.*/        access_log \\/var\\/log\\/nginx\\/healthd\\/application.log.\\$year-\\$month-\\$day-\\$hour healthd  if=\\$loggable;/\" /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf"
  restart_nginx:
    command: "service nginx reload"
